<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        html body select{
            display: inline-block;
        }
        [disabled]{
            background-color: #ccc !important;
        }
        .wrapper {
            max-width: 600px;
            margin: 0 auto;
        }
        
        .ng-invalid {
            background-color: red;
        }
        
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="angular.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ User.console }}</title>

    <script>
        var app = angular.module('myapp', [])
            .controller('userController', userController)
        function userController() {
            var vm = this;
            vm.console = "CRUD";
            vm.users = [
                { name: 'Suissa', email: 'teste01@exemplo.com', cod: '01', type: 'teacher', active: 'true' },
                { name: 'João', email: 'teste02@exemplo.com', cod: '02', type: 'teacher', active: 'false' },
                { name: 'Franciele', email: 'teste03@exemplo.com', cod: '03', type: 'teacher', active: 'false' },
                { name: 'caio', email: 'teste04@exemplo.com', cod: '04', type: 'student', active: 'true' },
                { name: 'amanda', email: 'teste05@exemplo.com', cod: '05', type: 'student', active: 'true' }
            ];
        }
    </script>
</head>

<body ng-controller="userController as User">
    <section class="row wrapper">
        <div class="col s12">
            <form name=" useForm " action="">
                <div>
                    <label> name </label>
                    <input type="text" name="name" ng-model="user.name" required>
                </div>
                <div>
                    <label>email</label>
                    <input type="text" name="email" ng-model="user.email">
                </div>
            </form>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>