<!DOCTYPE html>
<html lang="en" data-ng-app="beMEAN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="angular.min.js"></script>
    <title>{{ titulo }}</title>
    <script>
    var beMEAN =  angular.module('beMEAN', [])
    .filter('reverseString',function(){
        return function(text){
            if(text) return text.split("").reverse('').join("");
        }
    });


    </script>
</head>
<body >

    <label for="nome">
        titulo
        <input type="text>" ng-model="titulo">
    </label>
    <label for="nome">
        Seu nome: 
        <input type="text>" ng-model="nome">
        OLA MUNDO, {{ nome | uppercase |reverseString }} ESTA INVERTIDO
    </label>


</body>
</html>